.lobby {
  padding-top: 30px;
  min-height: 100vh;
  background-image: url('https://ik.imagekit.io/hfywj4j0a/HOSS_Images/council_2_-xtCInoWU.png');  
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.lobby-bar {
  height: 50px;
  margin: 0 20px;
  border-bottom: 1px solid white;
}

.lobby-title {
  color: white;
  font-size: 2.5rem;
  float: left
}

.new-room-button {
  float: right;
}

.rooms-area {
  text-align: left;
}