.room-tile {
  display: inline-block;
  height: 200px;
  width: 120px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px;
  /* background-color: rgba(255, 255, 255, 0.3); */
  transition: 0.5s ease;
  vertical-align: top; 
  text-align: left;
  color: white;
}

.room-tile:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  outline: none;
  cursor: pointer;
  border-color: white;
  box-shadow: 0 0 20px white;

}

.room-tile h3 {
  padding: 5px;
  margin: 0;
}