.desktop .block-button-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .desktop .block-button-area {
    grid-template-columns: 1fr;
  }
}

.block-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 200px;
  margin: 10px;
  padding: 3px;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: grey;
  cursor: pointer;
  text-align: center;
  transition: 0.5s ease;
  color: white;
  box-shadow: 0 0 10px white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile .block-button {
  width: 90vw;
}

.block-button h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.block-button .notice {
  position: absolute;
  bottom: 5px;
}

.block-button:hover {
  outline: none;
  border-color: white;
  box-shadow: 0 0 50px white;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
}