.desktop .choose-delegates .player-delegates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .desktop .choose-delegates .player-delegates {
    grid-template-columns: 1fr;
  }
}

.choose-delegates .player-delegate {
  display: inline-block;
  text-align: center;
  margin: 5px;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
  box-shadow: 0 0 10px white;
  cursor: pointer;
  transition: 0.5s ease;
}

.mobile .choose-delegates .player-delegates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.mobile .choose-delegates .player-delegate {
  height: 40vw;
}

.choose-delegates .player-delegate:hover {
  outline: none;
  border-color: white;
  box-shadow: 0 0 50px white;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

.choose-delegates .player-delegate.chosen {
  border-color: green;
  box-shadow: 0 0 100px green;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}