.choose-action-screen .action {
  border-radius: 5px;
  min-width: 250px;
  padding: 10px;
  margin: 5px;
  color: white;
  position: relative;
  transition: 0.2s ease;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.open-action:hover {
  outline: none;
  cursor: pointer;
  border-color: white;
  box-shadow: 0 0 50px white;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
}
.open-action {
  border: 1px solid white;
  color: white;
  outline: none;
  box-shadow: 0 0 10px white;

  background-color: rgba(0, 0, 0, 0.5);
}
.closed-action {
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.8);
  border-color: red;
}
.closed-action .action-cost {
  color: red;
}
.closed-action .header {
  color: red;
}

.action-area .header {
  height: 25px;
}
.action-area .header h3 {
  display: inline-block;
  position: absolute;
  left: 10px;
  font-size: 1rem;
}

.action-area .header p {
  display: inline-block;
  position: absolute;
  right: 10px;
  font-size: .8rem;
}

.action-area .action-info {
  font-size: .8rem;
  margin: 3px;
}

.action-area .player-info {
  font-size: .7rem;
  font-style: italic;
  margin: 3px;
}

.action-area .block-info {
  font-size: .7rem;
  /* color: grey; */
  margin: 3px;
}