.mobile-log-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.mobile-log-modal .interior {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background-color: #242424;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.mobile-log-modal .interior .text {
  overflow-y: auto;
  height: calc(100% - 60px);
  margin: 20px 20px 10px 20px;
}

.mobile-log-modal .exit-text {
  color: #999999;
  font-style: italic;
  font-size: .8rem;
  margin: 10px 20px;
}