.my-player-tile {
  border: 1px solid white;
  border-radius: 5px;
  width: 290px;
  padding: 8px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: 0.5s ease;
}

.my-player-tile .player-name {
  font-size: .9rem;
}

.my-player-tile p {
  font-size: .8rem;
}

.my-player-tile .player-delegate {
  display: inline-block;
  text-align: center;
  margin: 5px;
  width: 130px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
}