.game-player-tile {
  border: 1px solid white;
  border-radius: 5px;
  width: 290px;
  padding: 8px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: 0.5s ease;
}

.game-player-tile.mobile {
  width: 40vw;
  height: 50px;
  display: inline-block;
}

.game-player-tile.dead {
  border: 1px solid red;
  color: red;
}

.current-player {
  outline: none;
  border-color: white;
  box-shadow: 0 0 20px white;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
}

.potential-target {
  outline: none;
  border-color: white;
  box-shadow: 0 0 30px white;
  cursor: pointer;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
}

.potential-target:hover {
  box-shadow: 0 0 60px white;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
}

.game-player-tile .player-name {
  font-size: .9rem;
}

.game-player-tile p {
  font-size: .8rem;
}