.game-player-tile {
  border: 1px solid white;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: 0.5s ease;
}

.current-player {
  outline: none;
  border-color: white;
  box-shadow: 0 0 10px white;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}