.game-player-tile {
  border: 1px solid white;
  border-radius: 5px;
  width: 290px;
  padding: 8px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: 0.5s ease;
}

.current-player {
  outline: none;
  border-color: white;
  box-shadow: 0 0 10px white;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

.potential-target {
  outline: none;
  border-color: white;
  box-shadow: 0 0 20px white;
  cursor: pointer;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
}

.potential-target:hover {
  box-shadow: 0 0 50px white;
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

.game-player-tile .player-name {
  font-size: .9rem;
}

.game-player-tile p {
  font-size: .8rem;
}