:root {
  --top-padding: 30px;
}

.waiting-room {
  padding-top: var(--top-padding);
  min-height: calc(100vh - var(--top-padding));
  background-image: url('https://ik.imagekit.io/hfywj4j0a/HOSS_Images/council_2_-xtCInoWU.png');  
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.waiting-room-bar {
  height: 50px;
  margin: 0 20px 20px 20px;
  border-bottom: 1px solid white;
}

.waiting-room-title {
  color: white;
  font-size: 2.5rem;
  float: left;
}

.waiting-room .player-list {
  margin-bottom: 20px;
  padding-left: 20px;
}

.waiting-room .hoss-button {
  float: right;
}
.waiting-room .hoss-button.disabled {
  float: right;
  background-color: gray;
}

.waiting-room.mobile .hoss-button.leave {
  float: left;
  margin-left: 0;
}


