:root {
  --top-padding: 50px;
}

.enter-name-room {
  padding-top: var(--top-padding);
  text-align: center;
  background-color: black;
  min-height: calc(100vh - var(--top-padding));
  background-image: url('https://ik.imagekit.io/hfywj4j0a/HOSS_Images/council_2_-xtCInoWU.png');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.enter-name-room .game-title-small {
  color: white;
  font-size: 1.5rem;
  display: inline-block;
}

.enter-name-room .game-title-large {
  color: white;
  font-size: 5rem;
  display: inline-block;
  border-bottom: 1px solid white;
}

.enter-name-room .enter-name-title {
  color: white;
  font-style: italic;
}

.enter-name-room .input-area {
  display: inline-block;
  margin: 50px auto;
  text-align: center;
}

.enter-name-room .text-field {
  display: inline-block;
  width: 300px;
  height: 30px;
  margin: 10px;
}

.enter-name-room.mobile .text-field {
  width: 200px;
  font-size: 16px;
}

.enter-name-room .submit-button {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}

.enter-name-room .submit-button:hover {
  outline: none;
  border-color: white;
  box-shadow: 0 0 10px white;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);

}

