.game-screen {
  display: grid;
  grid-template-columns: 350px 1fr;
  height: 100vh;
  background-image: url('https://ik.imagekit.io/hfywj4j0a/HOSS_Images/council_2_-xtCInoWU.png');  
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.game-screen .player-list {
  border-right: 1px solid white;
}

.players-title {
  color: white;
}